.value-table {
  width: 50%;
}

table {
  border-spacing: 0.5rem;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  min-width: 200px;
}

td:last-child, th:last-child {
  min-width: 0;
  text-align: center;
}

td .arrow-up, td .arrow-down {
  min-width: 0;
  text-align: center;
}

td span[class^="arrow-"] {
  float: left;
  margin-top: 5px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid green;
  display: block;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  border-top: 10px solid red;
  display: block;
}